// GENERAL COLORS
$red: #D04444;
$dark-grey: #272F46;

// THEME COLORS
$tertiary: #8963e7; // base theme - purple
$gradient-top: #54cbe8; // base theme - light blue
$gradient-bottom: #8f59e7; // base theme - deep redish purple
$active: #7291e8; // base theme - mid tone blue

$shadow: 0px 2px 6px rgba(0,0,0,0.5);

// ANIMATIONS
$bounce: cubic-bezier(0.3, 0.27, 0.07, 1.64);
$fadeIn: fadeIn 0.5s $bounce;
$fadeInBottom: fadeInBottom 0.5s $bounce;
$highlightItem: highlightItem 3s infinite;
$slideInBottom: slideInBottom 0.3s;
// $slideOutBottom: slideOutBottom 0.5s;

$themes: (
  default: (
    gradientTop: $gradient-top,
    gradientBottom: $gradient-bottom,
    tertiary: $tertiary,
    active: $active,
  ),
  orange-pink: (
    gradientTop: #FFCE40,
    gradientBottom: #BB29AA,
    tertiary: #c13aa1,
    active: #dd7e79,
  ),
  teal: (
    gradientTop: #A4E79C,
    gradientBottom: #00C1f2,
    tertiary: #1ac5eb,
    active: #59d4cb,
  ),
);


@mixin themify($themes: $themes) {
  @each $theme, $map in $themes {

    .theme-#{$theme} & {
      $theme-map: () !global;
      @each $key, $submap in $map {
        $value: map-get(map-get($themes, $theme), '#{$key}');
        $theme-map: map-merge($theme-map, ($key: $value)) !global;
      }

      @content;
      $theme-map: null !global;
    }

  }
}

@function themed($key) {
  @return map-get($theme-map, $key);
}
