// GENERAL COLORS
$red: #D04444;
$dark-grey: #272F46;

// THEME COLORS
$tertiary: #8963e7; // base theme - purple
$gradient-top: #54cbe8; // base theme - light blue
$gradient-bottom: #8f59e7; // base theme - deep redish purple
$active: #7291e8; // base theme - mid tone blue

$shadow: 0px 2px 6px rgba(0,0,0,0.5);

// ANIMATIONS
$bounce: cubic-bezier(0.3, 0.27, 0.07, 1.64);
$fadeIn: fadeIn 0.5s $bounce;
$fadeInBottom: fadeInBottom 0.5s $bounce;
$highlightItem: highlightItem 3s infinite;
$slideInBottom: slideInBottom 0.3s;
// $slideOutBottom: slideOutBottom 0.5s;
