.app-header {
  width: 250px;
  text-align: center;
  margin: 40px auto;
  img {
    max-width: 100%;
  }
  .logo-hat {
    width: 81px;
    margin-bottom: 10px;
  }
  .logo-text {
    width: 248px;
  }
}
