@import url("https://fonts.googleapis.com/css?family=Roboto");
html {
  height: 100%;
  overflow: hidden; }

body {
  background: #54cbe8;
  background: -moz-linear-gradient(top, #54cbe8 0%, #8f59e7 100%);
  background: -webkit-gradient(left top, left bottom, color-stop(0%, #54cbe8), color-stop(100%, #8f59e7));
  background: -webkit-linear-gradient(top, #54cbe8 0%, #8f59e7 100%);
  background: -o-linear-gradient(top, #54cbe8 0%, #8f59e7 100%);
  background: -ms-linear-gradient(top, #54cbe8 0%, #8f59e7 100%);
  background: linear-gradient(to bottom, #54cbe8 0%, #8f59e7 100%); }
  body * {
    font-family: 'Roboto', sans-serif;
    color: white; }

::selection {
  background: #fff;
  /* WebKit/Blink Browsers */ }

::-moz-selection {
  background: #fff;
  /* Gecko Browsers */ }

.standard-btn {
  background: transparent;
  border: 2px solid white;
  border-radius: 5px;
  box-sizing: border-box;
  color: white;
  cursor: pointer;
  display: block;
  font-size: 18px;
  font-weight: 300;
  margin: 0 0 30px;
  outline: none;
  padding: 10px 0;
  text-align: center;
  text-decoration: none;
  width: 100%; }
  .standard-btn:active {
    background: white;
    color: #7291e8; }
  .standard-btn[disabled] {
    opacity: .5;
    pointer-events: none; }

.input-field {
  height: 30px;
  text-align: left;
  position: relative; }
  .input-field input {
    background: transparent;
    border: none;
    border-bottom: 2px solid white;
    box-sizing: border-box;
    color: white;
    height: 30px;
    margin-bottom: 0;
    outline: none;
    width: 100%; }
    .input-field input + label {
      color: white;
      pointer-events: none;
      transition: .2s;
      position: absolute;
      left: 0px; }
    .input-field input[value=""] + label {
      bottom: 6px;
      font-size: 16px; }
    .input-field input:focus + label, .input-field input.has-text + label {
      bottom: 30px;
      font-size: 12px; }

.content {
  margin: 0 10%; }
  .content h2 {
    font-weight: 200;
    text-align: center;
    font-size: 22px; }
