@import url('https://fonts.googleapis.com/css?family=Roboto');
@import 'variables';

html {
  height: 100%;
  overflow: hidden;
}

body {
  * {
    font-family: 'Roboto', sans-serif;
    color: white;
  }
}

.container {
  // currently vertical
  background: $gradient-top;
  background: -moz-linear-gradient(top, $gradient-top 0%, $gradient-bottom 100%);
  background: -webkit-gradient(left top, left bottom, color-stop(0%, $gradient-top), color-stop(100%, $gradient-bottom));
  background: -webkit-linear-gradient(top, $gradient-top 0%, $gradient-bottom 100%);
  background: -o-linear-gradient(top, $gradient-top 0%, $gradient-bottom 100%);
  background: -ms-linear-gradient(top, $gradient-top 0%, $gradient-bottom 100%);
  background: linear-gradient(to bottom, $gradient-top 0%, $gradient-bottom 100%);
  position: absolute;
  width: 100%;
  top: 0;
  bottom: 0;
  overflow: auto;
}

::selection {
  background: #fff; /* WebKit/Blink Browsers */
}
::-moz-selection {
  background: #fff; /* Gecko Browsers */
}

button {
  -webkit-tap-highlight-color: transparent;
  background: transparent;
  outline: none;
  border: 0;
  padding: 0;
}

// generic custom button styles
.standard-btn, .game-consequence {
  background: transparent;
  border: 2px solid white;
  border-radius: 5px;
  box-sizing: border-box;
  color: white;
  cursor: pointer;
  display: block;
  font-size: 18px;
  margin: 0 0 30px;
  outline: none;
  padding: 13px 10px;
  text-align: center;
  text-decoration: none;
  width: 100%;
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
  &:active, &.active {
    background: white;
    color: $active;
  }
  &[disabled] {
    opacity: .5;
    pointer-events: none;
  }
}

.submit-btn {
  cursor: pointer;
  color: $tertiary;
  display: block;
  background: white;
  border-radius: 18px;
  font-size: 16px;
  height: 36px;
  line-height: 36px;
  padding: 0 20px;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  justify-content: center;
  align-items: center;
  .material-icons {
    color: $tertiary;
  }
  &.cancel {
    color: $red;
    .material-icons {
      color: $red;
    }
  }
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.input-field {
  height: 30px;
  text-align: left;
  position: relative;
  input {
    background: transparent;
    border: none;
    border-bottom: 2px solid white;
    box-sizing: border-box;
    color: white;
    height: 30px;
    margin-bottom: 0;
    outline: none;
    width: 100%;
    + label {
      color: white;
      pointer-events: none; // double check to see if this still causes issues in older safari
      transition: .2s;
      position: absolute;
      left: 0px;
    }
    // if input is blank
    &[value=""] + label {
      bottom: 6px;
      font-size: 16px;
    }
    // if input has text or focusing on input
    &:focus,
    &.has-text {
      + label {
        bottom: 30px;
        font-size: 12px;
      }
    }
  }
}

textarea, .standard-input {
  background: rgba(255,255,255,.1);
  border: 2px solid white;
  border-radius: 5px;
  box-sizing: border-box;
  resize: none;
  outline: none;
  padding: 10px;
}

.content {
  margin: 0 10%;
  h2 {
    font-weight: 400;
    text-align: center;
    font-size: 22px;
  }
}

.hidden {
  display: none !important;
}

.no-select {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently supported by Chrome and Opera */
}

.flex-row {
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
}
