.list-toggle-btn {
  line-height: 32px;
  img {
    width: 32px;
    height: 32px;
  }
  & + a, & + h2 {
    font-size: 18px;
    display: inline-block;
    line-height: 32px;
    margin: 0 0 0 15px;
    vertical-align: top;
    text-decoration: none;
  }
  &.inactive {
    opacity: .5;
    + h2, + a {
      opacity: .5;
    }
  }
}
