.collection .collection-item {
  width: 80%;
  margin: 0 auto 20px; }
  .collection .collection-item img {
    width: 32px;
    height: 32px; }
  .collection .collection-item a {
    font-size: 18px;
    display: inline-block;
    line-height: 32px;
    margin-left: 15px;
    vertical-align: top;
    text-decoration: none; }
    .collection .collection-item a.inactive {
      opacity: .5; }
      .collection .collection-item a.inactive + a {
        opacity: .5; }

.add-list .bg-cover {
  opacity: .65;
  background: white;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 11; }

.add-list .add-list-content {
  position: absolute;
  background: #8963e7;
  height: 160px;
  z-index: 15;
  bottom: 0;
  right: 0;
  left: 0;
  padding: 0 10% 15px; }
  .add-list .add-list-content .standard-input {
    width: 100%;
    margin-bottom: 20px;
    padding: 6px 10px; }
  .add-list .add-list-content .submit-btn {
    width: 100%; }
    .add-list .add-list-content .submit-btn.cancel {
      margin-right: 20px; }
