@import 'variables';

.collection {
  .collection-item {
    // margin-bottom: 20px;
    width: 80%;
    margin: 0 auto 20px;
    img {
      width: 32px;
      height: 32px;
    }
    a {
      font-size: 18px;
      display: inline-block;
      line-height: 32px;
      margin-left: 15px;
      vertical-align: top;
      text-decoration: none;
      &.inactive {
        opacity: .5;
        + a {
          opacity: .5;
        }
      }
    }
  }
}

.add-list {
  .bg-cover {
    opacity: .65;
    background: white;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 11; // set above menu btn
  }

  // NOTE: shouldn't do a solid bg color - should be gradient
  .add-list-content {
    position: absolute;
    background: $tertiary;
    height: 160px;
    z-index: 15;
    bottom: 0;
    right: 0;
    left: 0;
    padding: 0 10% 15px;
    .standard-input {
      width: 100%;
      margin-bottom: 20px;
      padding: 6px 10px;
    }
    .submit-btn {
      width: 100%;
      &.cancel {
        margin-right: 20px;
      }
    }
  }
}
