@import 'variables';

.collection {
  .collection-item {
    width: 80%;
    margin: 0 auto 20px;
  }
}

.add-list, .add-consequence {
  .bg-cover {
    opacity: .65;
    background: white;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 11; // set above menu btn
  }

  // NOTE: probably shouldn't do a solid bg color - should be gradient
  .add-content {
    animation: $fadeInBottom;
    position: fixed;
    background: $tertiary;
    @include themify($themes) {
      background: themed('tertiary');
    }
    height: 200px;
    z-index: 15;
    bottom: -40px;
    right: 0;
    left: 0;
    padding: 0 10% 15px;
    .errors:not(:empty) {
      margin: -13px 0 6px 0;
      .error {
        text-align: center;
        margin: 0;
      }
    }
    h2 {
      border-bottom: 0;
      display: block;
      margin: 17px 0;
      padding: 0;
      width: 100%;
    }
    .standard-input {
      width: 100%;
      margin-bottom: 20px;
      padding: 6px 10px;
    }
    .submit-btn {
      width: 100%;
      &.cancel {
        margin-right: 20px;
      }
    }
  }
}

// Keyframe animation
@-webkit-keyframes fadeInBottom {
  0% {
    opacity: 0;
    bottom: -200px;
  }
  60% {
    opacity: 0.5;
    bottom: -40px;
  }
  100% {
    opacity: 1;
  }
}
