.collection .collection-item {
  width: 80%;
  margin: 0 auto 20px; }
  .collection .collection-item img {
    width: 32px;
    height: 32px; }
  .collection .collection-item button, .collection .collection-item a {
    font-size: 18px;
    display: inline-block;
    line-height: 32px;
    margin-left: 15px;
    vertical-align: top;
    text-decoration: none; }
    .collection .collection-item button.inactive, .collection .collection-item a.inactive {
      opacity: .5; }
      .collection .collection-item button.inactive + a, .collection .collection-item a.inactive + a {
        opacity: .5;
        text-decoration: none; }

.add-list .bg-cover, .add-consequence .bg-cover {
  opacity: .65;
  background: white;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 11; }

.add-list .add-content, .add-consequence .add-content {
  animation: fadeInBottom 0.5s cubic-bezier(0.3, 0.27, 0.07, 1.64);
  position: fixed;
  background: #8963e7;
  height: 200px;
  z-index: 15;
  bottom: -40px;
  right: 0;
  left: 0;
  padding: 0 10% 15px; }
  .add-list .add-content .errors:not(:empty), .add-consequence .add-content .errors:not(:empty) {
    margin: -13px 0 6px 0; }
    .add-list .add-content .errors:not(:empty) .error, .add-consequence .add-content .errors:not(:empty) .error {
      text-align: center;
      margin: 0; }
  .add-list .add-content .standard-input, .add-consequence .add-content .standard-input {
    width: 100%;
    margin-bottom: 20px;
    padding: 6px 10px; }
  .add-list .add-content .submit-btn, .add-consequence .add-content .submit-btn {
    width: 100%; }
    .add-list .add-content .submit-btn.cancel, .add-consequence .add-content .submit-btn.cancel {
      margin-right: 20px; }

@-webkit-keyframes fadeInBottom {
  0% {
    opacity: 0;
    bottom: -200px; }
  60% {
    opacity: 0.5;
    bottom: -40px; }
  100% {
    opacity: 1; } }
