.collection {
  margin: 0;
  padding: 0;
  list-style: none; }
  .collection .collection-item {
    width: 80%;
    margin: 0 auto 20px; }
    .collection .collection-item img {
      width: 32px;
      height: 32px; }
    .collection .collection-item a {
      font-size: 18px;
      display: inline-block;
      line-height: 32px;
      margin-left: 15px;
      vertical-align: top;
      text-decoration: none; }
      .collection .collection-item a.inactive {
        opacity: .5; }
        .collection .collection-item a.inactive + a {
          opacity: .5; }

form {
  margin: 35px 0; }
