.login-content {
  text-align: center;
  margin: 0 10%; }
  .login-content .standard-btn {
    margin: 50px 0 40px; }

.login-icon {
  width: 60px;
  margin: 20px 0 20px; }
  .login-icon:first-of-type {
    margin-right: 20px; }

.login-link {
  color: white;
  display: block;
  margin: 10px 0;
  text-align: center; }
  .login-link a {
    color: white;
    font-weight: bold; }

.login-form .input-field:first-of-type {
  margin-bottom: 30px; }
