.bg-cover.active {
  background: white;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  opacity: .65;
  z-index: 5; }

.highlight .bg-cover.hidden + .material-icons.menu-btn {
  animation: highlightItem 3s infinite;
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.5); }

.bg-cover.hidden + .material-icons.menu-btn {
  background: transparent;
  box-shadow: none; }

.material-icons.menu-btn {
  background: #8963e7;
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.5);
  font-size: 40px;
  position: fixed;
  bottom: 25px;
  right: 25px;
  width: 60px;
  height: 60px;
  line-height: 60px;
  text-align: center;
  border-radius: 50%;
  z-index: 10; }
  .theme-default .material-icons.menu-btn {
    background: #8963e7; }
  .theme-orange-pink .material-icons.menu-btn {
    background: #c13aa1; }
  .theme-teal .material-icons.menu-btn {
    background: #1ac5eb; }

.menu-items {
  position: fixed;
  z-index: 10;
  bottom: 42px;
  right: 40px; }
  .menu-items li {
    display: flex;
    margin-top: 20px;
    justify-content: flex-end;
    position: relative;
    animation: fadeIn 0.5s cubic-bezier(0.3, 0.27, 0.07, 1.64);
    animation-fill-mode: both; }
    .menu-items li:last-of-type {
      margin-top: 30px; }
    .menu-items li i.material-icons {
      background: #8963e7;
      box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.5);
      border-radius: 50%;
      font-size: 24px;
      margin-left: 25px;
      padding: 5px; }
      .theme-default .menu-items li i.material-icons {
        background: #8963e7; }
      .theme-orange-pink .menu-items li i.material-icons {
        background: #c13aa1; }
      .theme-teal .menu-items li i.material-icons {
        background: #1ac5eb; }
    .menu-items li .close-tag {
      margin-right: 59px; }
    .menu-items li .standard-btn {
      border: none;
      background: transparent;
      display: flex;
      justify-content: flex-end;
      padding: 0 60px 0 0;
      margin: 0 -60px 0 0;
      z-index: 5; }
      .menu-items li .standard-btn:active {
        color: white; }
    .menu-items li .standard-btn span, .menu-items li .close-tag {
      background: #8963e7;
      box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.5);
      border: 0;
      border-radius: 4px;
      display: block;
      font-size: 16px;
      margin-bottom: 0;
      height: 28px;
      line-height: 28px;
      margin-top: 3px;
      padding: 0 10px;
      text-transform: lowercase;
      white-space: nowrap; }
      .theme-default .menu-items li .standard-btn span, .theme-default .menu-items li .close-tag {
        background: #8963e7; }
      .theme-orange-pink .menu-items li .standard-btn span, .theme-orange-pink .menu-items li .close-tag {
        background: #c13aa1; }
      .theme-teal .menu-items li .standard-btn span, .theme-teal .menu-items li .close-tag {
        background: #1ac5eb; }

.menu-items li:nth-child(1) {
  animation-delay: 0.2s; }

.menu-items li:nth-child(2) {
  animation-delay: 0.4s; }

.menu-items li:nth-child(3) {
  animation-delay: 0.6s; }

.menu-items li:nth-child(4) {
  animation-delay: 0.8s; }

.menu-items li:nth-child(5) {
  animation-delay: 1s; }

.menu-items li:nth-child(6) {
  animation-delay: 1.2s; }

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
    top: 100px; }
  60% {
    opacity: 0.5;
    top: 0px; }
  100% {
    opacity: 1; } }

@-webkit-keyframes highlightItem {
  0% {
    box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.5); }
  50% {
    box-shadow: none; }
  100% {
    box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.5); } }
