// create gradient effect with solid colors
.container.signup {
  // background: white;
  background: #272F46;
  .input-field:first-of-type {
    label {
      color: #69A3E8;
    }
    input {
      color: #6AA1E7;
      border-color: #6AA1E7;
    }
  }
  .input-field {
    label {
      color: #6E9BE8;
    }
    input {
      color: #6F98E7;
      border-color: #6F98E7;
    }
  }

  .standard-btn {
    border-color: #7885E7;
    color: #7688E7;
    &:active {
      background: #7885E7;
      color: white;
    }
  }

  .login-link {
    color: #8A63E7;
    a {
      color: #8A63E7;
    }
  }
}
